<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.ssafy.TmT.dao.AccountDao">
	
    <!-- 자유 계좌 조회 -->
	<!-- BascColumns 를 공통 컬럼으로 사용 -->
<select id="findFreeAccounts" parameterType="Long" resultType="FreeAccountDTO">
    SELECT 
        account_id AS accountId,
        balance AS balance,
        bank_name AS bankName
    FROM 
        FreeAccount
    WHERE 
        member_id = #{memberId}
</select>
    
    
    <!-- 적금 계좌 조회 -->
    <select id="findSavingsAccounts" resultType="SavingsAccountDTO">
    </select>
    
    <!-- 총 자산 조회 -->
    <select id="getTotalBalance" resultType="BalanceDTO">
    </select>
	
</mapper>