<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.TmT.dao.MemberDao">
    <!-- SQL 문 추가 예시 -->
    <select id="getTotalBalance" resultType="BalanceDTO">
        SELECT SUM(balance) AS totalBalance
        FROM accounts
        WHERE member_id = #{memberId}
    </select>
</mapper>
