<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.project.dao.AccountDAO">
    
    <sql id="BaseColumns">
        id, account_number, account_holder
    </sql>
    
    <select id="findAllAccounts" resultType="Account">
        SELECT <include refid="BaseColumns"/> FROM accounts
    </select>

    <select id="findAccountById" parameterType="Long" resultType="Account">
        SELECT <include refid="BaseColumns"/> FROM accounts WHERE id = #{id}
    </select>

</mapper>
